<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" name="viewport" />
    <title>@ViewData["Title"] - Project20180804.Core.Web</title>
    <link href="~/css/layui.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="~/layui.all.js"></script>
    @RenderSection("Style", required: false)
</head>
<body>

    <div class="container body-content">
        @RenderBody()

    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
